<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Management</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1" cellpadding="10" align="center">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" value="{{editData.doctor_name}}" required></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txt_contact" value="{{editData.doctor_contact}}" required></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="txt_email" value="{{editData.doctor_email}}" required></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <input type="radio" name="gender" value="Male" {% if editData.doctor_gender == 'Male' %}checked{% endif %} required>Male
                    <input type="radio" name="gender" value="Female" {% if editData.doctor_gender == 'Female' %}checked{% endif %} required>Female
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea name="txt_address" required>{{editData.doctor_address}}</textarea></td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><input type="file" name="file_photo"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="txt_password" value="{{editData.doctor_password}}" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Submit">
                    <input type="reset" value="Cancel">
                </td>
            </tr>
        </table>
    </form>
    <br><br>
    
    <table border="1" cellpadding="10" align="center">
        <tr>
            <th>Sl.No</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
        {% for i in doc %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.doctor_name}}</td>
            <td>{{i.doctor_contact}}</td>
            <td>{{i.doctor_email}}</td>
            <td>{{i.doctor_gender}}</td>
            <td>{{i.doctor_address}}</td>
            <td>
                {% if i.doctor_photo %}
                <img src="{{i.doctor_photo.url}}" width="100" height="100">
                {% else %}
                No Photo
                {% endif %}
            </td>
            <td>
                <a href="{% url 'webamin:delDoctor' i.id %}">Delete</a> | 
                <a href="{% url 'webamin:editDoctor' i.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>