<div class="col-md-6">
                <a href="{% url 'webadmin:viewDoctors' %}" class="nav-card">
                    <div class="icon-circle">
                        <i class="bi bi-hospital"></i>
                    </div>
                    <h3>view Doctors</h3>
                    <p>Maintain the central registry of verified medical professionals and adjust system privileges.</p>
                </a>
            </div>

<div class="col-md-6">
                <a href="{% url 'webadmin:doctorRegistration' %}" class="nav-card">
                    <div class="icon-circle">
                        <i class="bi bi-hospital"></i>
                    </div>
                    <h3>Register new Doctors</h3>
                    <p>Maintain the central registry of verified medical professionals and adjust system privileges.</p>
                </a>
            </div>